body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg, #c68bfd 1%, #9b38f8 99%);
    overflow-x: hidden;
}


.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
}


.slides {
    width: 400%;
    height: 400px;
    display: flex;
    transition: transform 1s ease-in-out;
}


.slides input {
    display: none;
}


.slide {
    width: 25%;
    position: relative;
}


.slides img {
    width: 800px;
    height: 400px;
}


.manual-navigation {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


.manual-btn:not(:last-child) {
    margin-right: 20px;
}


.manual-btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);
}


#radio1:checked ~ .slides {
    transform: translateX(0);
}


#radio2:checked ~ .slides {
    transform: translateX(-100%);
}


#radio3:checked ~ .slides {
    transform: translateX(-200%);
}

@media screen and (max-width: 950px) {
    .slider {
        width: 100%; /* O slider ocupa toda a largura disponível */
        height: 600px; /* Altura ajustada automaticamente */
    }

    .slides {
        width: 100%; /* As slides se ajustam proporcionalmente ao slider */
        height: auto; /* Altura baseada no conteúdo */
        display: flex; /* Garante o layout flexível */
        transition: transform 1s ease-in-out; /* Preserva a transição suave */
    }

    .slides img {
        width: 100%; /* As imagens ajustam-se ao tamanho das slides */
        height: auto; /* Mantém a proporção original da imagem */
        object-fit: cover; /* Ajusta o conteúdo da imagem sem distorção */
    }

    .manual-navigation {
        bottom: 10px; /* Ajusta a posição para caber em telas menores */
        left: 0;
        display: flex; 
        justify-content: center; /* Centraliza os botões */
        gap: 10px; /* Espaçamento uniforme entre os botões */
    }

    .manual-btn {
        padding: 5px 10px; /* Tamanho reduzido para dispositivos menores */
        font-size: 12px; /* Reduzido para melhor proporção */
    }
}









